@use './variables';
@use './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-primary;  // Nu beschikbaar
  font-size: variables.$font-size-base;
  color: variables.$text-color;
  background-color: variables.$background-color;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: bold;
  color: variables.$dark-blue;
}

button {
  @include mixins.button(variables.$primary-color, variables.$white);
}
