@use "./variables";
@use "./mixins";

header {
  background: linear-gradient(135deg, variables.$primary-color, variables.$secondary-color);
  padding: 15px 0;

  .container {
      @include mixins.flex-center;
      justify-content: space-between;
  }

  .logo {
      font-size: 24px;
      font-weight: bold;
      color: variables.$white;
  }

  nav ul {
      list-style: none;
      display: flex;
      
      li {
          margin-left: 20px;
          
          a {
              text-decoration: none;
              color: variables.$white;
              font-weight: bold;
              
              &:hover {
                  text-decoration: underline;
              }
          }
      }
  }
  
  .apply-btn {
      @include mixins.button(variables.$white, variables.$primary-color);
  }
}
